backup/
data/cache
data/libraries
data/logs
data/cache
*sqlite
data/usercache.json
data/whitelist
data/plugins/AuthMe
data/plugins/bStats
data/plugins/CustomDiscs
data/plugins/HexNicks
data/plugins/ImageFrame
data/plugins/ProtocolLib
data/plugins/simplewhitelist
data/plugins/Skript
data/plugins/spark
data/plugins/TAB
data/plugins/voicechat
data/plugins/.paper-remapped
data/world
data/world_nether
data/world_the_end
data/banned-ips.json
data/banned-players.json
data/.rcon*
*.dat*
.*
